
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-text-color: #001c64;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    /* --padding-inline-section: 20px */
}


ul {
    list-style: none;
    
}
body{
    font-family:'Poppins','sans-serif' ;
}
a {
    font-family: 'Poppins','sans-serif';
    text-decoration: none;
    color: var(--primary-text-color);
    font-size:1.28rem;
  
}

.main-logo {
    width: 40px;

}

/* utility class */
.container {
    max-width: 1180px;
    margin: 20px auto 0 auto;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.main-head{
    background: white;
    
}
.button-prime{
    border: 2px solid var(--primary-text-color);
    border-radius: 20px;
    padding: 5px;
    font-weight: 600;
    
}
.button-second{
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px;
    color: #fff;
    background-color:var(--primary-text-color) ;
    
}
/* navbar */
.hover-link{
    padding-inline: 10px;
}


/* main-section */
.sec-1-right{
    width: 40%;
    flex-direction: column;
}
.sec-1-right h1 {
    font-size: 4.505rem;
    color: var(--primary-text-color);
}
.sec-1-left{
   
    border-radius: 6px;

}
